<h2>Please Sign In</h2>

<form method="POST" action="/sign_in">
	<label for="fname">First Name</label>
	<input type="text" name="fname">
	<br>
	<br>
	
	<label for="lname">Last Name</label>
	<input type="text" name="lname">
	<br>
	<br>
	<label for="email">Email</label>
	<input type="text" name="email">
	<br>
	<br>
	<label for="password">Password</label>
	<input type="password" name="password">	
	<input type="submit">

</form>